[Desktop Entry]
Type=Application
Name=Reportbug-NG
Comment=Report bugs to Debian's BTS
Comment[cs]=Hlásí chyby vývojářům Debianu
Exec=reportbug-ng
Icon=/usr/share/pixmaps/debian-logo.png
Categories=System;
